.div1{
    background-color: antiquewhite;
    text-align: center;
    padding: auto;
    border: black;
    border: 3px solid;
    margin: 3px;
  

}
h4{
 color:rgb(255, 0, 0);
}

.div2{
text-align: center;
background-color:whitesmoke;
border: black;
border: 3px solid;

}
